body {
    background-color: antiquewhite;
}
.playField{
    margin: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.boardField{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.map {
    margin : 0 auto;
    background-color:aqua;
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.mapBox {
    margin : 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
    flex-direction: column;
}
#computer.map {
    background-color: #0ab2aa;
}
.square {  
    width: 48px;
    height:48px;;
    border: 1px solid black;
}
.square.over {
    border: 1px dotted red;
    background-color: blue;
}

.shipDock {
    border: 1px solid black;
    background-color: aqua;
    margin: 0 ; 
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
   
}


.ship {
    display: flex;
    background-color: grey;
    cursor:move;
    align-self: center;
    
    

}
#s2 {
    margin: 0 100px;

}
.ship:hover {
    background-color: green;
}
.rotateButton {
    width: 100px;
    height: 50px;
}

.square.hit {
    background-color: red;
}
.square.missed {
    background-color: white;
}

.playerName, .computerName {
    align-self: center;
    padding: 20px;
    font-size: 25px;
}