.playField {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.map {
    margin : 0 auto;
    background-color:aqua;
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
#computer.map {
    background-color: #0ab2aa;
}
.square {  
    width: 48px;
    height:48px;;
    border: 1px solid black;
}
.square.over {
    border: 1px dotted red;
    background-color: blue;
}

.shipDock {
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    width: 280px;
    height: 280px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.vertical {
    transform: rotate(90deg);
    
}
.ship {
    display: flex;
    background-color: grey;
    cursor:move;
}
#s2 {
    margin: 0 100px;

}
.ship:hover {
    background-color: green;
}
.rotateButton {
    width: 100px;
    height: 50px;
}

.square.hit {
    background-color: red;
}
.square.missed {
    background-color: white;
}